<!-- <div class="col-sm-8 blog-main">

  <h1>Edit Comment</h1>

  <div class="form-group">
    <%=# render 'comment_form' %>
    
  </div>

  <%=# link_to 'Show', @blog %> |
  <%=# link_to 'Back', blogs_path %>

</div>  -->