<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to "View All Project Items", portfolios_path %> / 
      <a href="#">Back to top</a> <% if logged_in?(:site_admin) %>
       / <%= link_to 'Create a new project', new_portfolio_path %>
       <% end %>
      

    </p>
    <p>
      <%= copyright_generator %>
    </p>
  </div>
</footer>