<div class="app-card-container main-page">
  <div class="card">
    
 
    <h1>About Me</h1>

    
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "ethanpic.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
        <h4 id="site-code">Code used in this site:</h4>
        <div class="skills">
          <% @skills.each do |skill| %>
          <div class="skill">
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div  class="progress-bar progress-bar-striped bg-warning"
              role="progressbar"
              aria-valuenow="<% skill.percent_utilized %>"
              arie-valuemax="100"
              style="width: <%= skill.percent_utilized %>%"
              >                
              </div>              
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <p>I've always had an interest in computers, for as long as I can remember, and after my experiences working with a CNC machine, and with serving a volunteer LDS mission in the great country of Japan, has only further cemented my interests in the computer industry. I am currently working towards a bachelor's degree in computer engineering at Utah Valley University, as well as seeking a web development certificate from Bottega, in Lehi, Ut.</p>
        <p>I am excited to work together.</p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controller="jobHistory"
          >
            Job History
          </button>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controller="education"
          >
            Education
          </button>

           <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#myskill"
            aria-expanded="false"
            aria-controller="myskill"
          >
            Skills
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Adonis Bronze: CNC Machining 
            </div>
            <div class="card card-block">
              Alpine Art Center: Food Server | Dishwasher
            </div>

          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              Lehi High School Class of 2014
            </div>
            <div class="card card-block">
              Utah Valley University B.S. Computer Engineering 2017 - Present
            </div>
            <div class="card card-block">
              Bottega coding bootcamp 2018
            </div>
          </div>
            <div class="collapse" id="myskill">
              <div class="card card-block">
                Bilingual: English | Japanese 
              </div>
              <div class="card card-block">
                Computer Setup and Maintenance
              </div> 
              <div class="card card-block">
                Ruby on Rails Programming and Web Development
              </div>

            

            </div>
          </p>
        </div>
    </div>

  </div>

</div>
