<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<p>For a Good Time Call: <%= number_to_phone "8675309"%></p>


<p>Money in my Wallet: <%= number_to_currency "2" %></p>

<p>Brain power used: <%= number_to_percentage ">2" %></p>
<p><%= number_with_delimiter "16464843545" %></p>